
text_color = #666
color_1 = #6cf
color_1_darker = #5bf
white_opa_100 = rgba(255,255,255,1)
white_opa_70 = rgba(255,255,255,0.7)
white_opa_0 = rgba(255,255,255,0)

box()
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

no_select()
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none