@import '../../../app/styl/var'

#timeline_box_wrap
	width calc(100% - 80px)
	margin auto
	display inline-block
	background #fff
	overflow hidden
	#timeline_box
		height auto
		color #333
		.vis-inner
			height 58px
			width 80px
			box()

#timeline_select_range_box
	margin auto
	display inline-block
	width 100%
	max-width 300px
	.input_date_fifty_box
		display inline-block
		width 100%
		.input_date_fifty
			text-align center
			display inline-block
			float left
			width 50%
			box()
			margin 0px
			padding 10px
			outline 0
			border none
			-webkit-appearance none
			border-radius 0


@media all and (max-width: 660px)
	#timeline_box_wrap
		width 100%