@import '../../../app/styl/var'

ball_color = #6cf

page_color = gold

.page_content
	background page_color
	padding 20px
	box-shadow 0 0 20px page_color
	font-size 32px



#popup_box
	#shadow
		display block
		width 100%
		left 0
		top 0
		bottom 0
		position fixed
		z-index 500
		background rgba(0,0,0,0.7)
	.loading_balls
		display inline-block
		height 50px
		top 30px
		.ball_out
			border 5px solid ball_color
			border-top 5px solid rgba(0,0,0,0)
			border-left 5px solid rgba(0,0,0,0)
			box-shadow 0 0 35px ball_color
		.ball_in
			border 5px solid ball_color
			border-top 5px solid rgba(0,0,0,0)
			border-left 5px solid rgba(0,0,0,0)
			box-shadow 0 0 15px ball_color
	#popup_wrap
		width 100%
		left 0
		top 0
		bottom 0
		position fixed
		z-index 10000
		text-align center
		display -webkit-flex
		align-items center
		#popup
			display block
			margin auto
			background-color #fff
			color #333
			border 1px solid #ddd
			width 100%
			max-width 343px
			border-radius 30px
			-moz-box-shadow 0 0 40px rgba(0,0,0,.80)
			-webkit-box-shadow 0 0 40px rgba(0,0,0,.80)
			box-shadow 0 0 40px rgba(0,0,0,.80)
			position relative
			.close_btn
				width 30px
				height 30px
				float right
				margin 0px
				margin-left 10px
				margin-right 20px
				margin-top 10px
				padding none
				cursor pointer
				position absolute
				top 0
				right 0
			#popup_response
				display inline-block
				font-size 12px
				width 100%
				text-align center
			.popup_response_error
				color darkred
			.popup_response_valid
				color green
			.messagePetit
				display inline-block
				font-size 10px
				line-height 12px
				text-align left
				margin-top 20px
				margin-bottom 20px
			.condition
				display inline-block
				font-size 10px
				line-height 12px
				text-align left
				color blue
				margin 0px
				word-wrap break-word
			form
				padding 20px
				#g-recaptcha
					overflow hidden
					margin-bottom -2px
					margin-top -1px
				.text_box
					display inline-block
					width 100%
					box()
					margin 0px
					padding 5%
					outline 0
					border 1px solid #ddd
					margin-top -1px
					margin-left -1px
					-webkit-appearance none
					border-radius 0
					-webkit-box-shadow: 0 0 0 30px white inset;
				.btn
					border none
					width 100%
					height 45px
					text-align center
					color white
					background-color #66CCFF
					cursor pointer
					margin 0px
					padding 0px
					-webkit-appearance none
					border-radius 0
					outline none
					&:active
						background-color #56BCDF
						
	