#popup_box #shadow {
  display: block;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 500;
  background: rgba(0,0,0,0.7);
}
#popup_box .loading_balls {
  display: inline-block;
  height: 50px;
  top: 30px;
}
#popup_box .loading_balls .ball_out {
  border: 5px solid #6cf;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  box-shadow: 0 0 35px #6cf;
}
#popup_box .loading_balls .ball_in {
  border: 5px solid #6cf;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  box-shadow: 0 0 15px #6cf;
}
#popup_box #popup_wrap {
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 10000;
  text-align: center;
  display: -webkit-flex;
  align-items: center;
}
#popup_box #popup_wrap #popup {
  display: block;
  margin: auto;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 343px;
  border-radius: 30px;
  -moz-box-shadow: 0 0 40px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  position: relative;
}
#popup_box #popup_wrap #popup .close_btn {
  width: 30px;
  height: 30px;
  float: right;
  margin: 0px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
#popup_box #popup_wrap #popup #popup_response {
  display: inline-block;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
#popup_box #popup_wrap #popup .popup_response_error {
  color: #8b0000;
}
#popup_box #popup_wrap #popup .popup_response_valid {
  color: #008000;
}
#popup_box #popup_wrap #popup .messagePetit {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
#popup_box #popup_wrap #popup .condition {
  display: inline-block;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  color: #00f;
  margin: 0px;
  word-wrap: break-word;
}
#popup_box #popup_wrap #popup form {
  padding: 20px;
}
#popup_box #popup_wrap #popup form #g-recaptcha {
  overflow: hidden;
  margin-bottom: -2px;
  margin-top: -1px;
}
#popup_box #popup_wrap #popup form .text_box {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 5%;
  outline: 0;
  border: 1px solid #ddd;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}
#popup_box #popup_wrap #popup form .btn {
  border: none;
  width: 100%;
  height: 45px;
  text-align: center;
  color: #fff;
  background-color: #6cf;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  -webkit-appearance: none;
  border-radius: 0;
  outline: none;
}
#popup_box #popup_wrap #popup form .btn:active {
  background-color: #56bcdf;
}
