input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.table {
  margin: auto;
  background: #fff;
  color: #666;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.table tr td {
  border-top: 1px solid #ddd;
}
.table tr:hover td {
  background: #f3f3f3;
}
.table tr:hover td input {
  background: #f3f3f3;
}
.table button {
  border-radius: 3px;
  background: #6cf;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table button:hover {
  background: #5bf;
}
.form {
  width: calc(100% - 40px);
  max-width: 350px;
  margin: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form input,
.form textarea,
.form select,
.form select option {
  display: inline-block;
  float: left;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
  outline: none;
  height: 40px;
  min-height: 40px;
  resize: vertical;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form button {
  display: inline-block;
  float: left;
  width: 100%;
  color: #fff;
  background: #6cf;
  border: 0;
  border-radius: 0;
  padding: 10px 20px;
  outline: none;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form button:hover {
  background: #5bf;
}
